/* 1. 스타일 우선순위 정의 */
@layer tw-theme, vapor, tw-utilities;
@import "@vapor-ui/core/tailwind.css";
/* 2. Tailwind CSS 연결 */
@import "tailwindcss/theme.css" layer(tw-theme);
@import "tailwindcss/utilities.css" layer(tw-utilities);

html,
body,
#root {
  height: 100%;
}

.skeleton {
  background: #e3e3e3;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(230, 230, 230, 0) 100%
  );
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* 개별 스켈레톤 블록들 */
.skeleton-text {
  border-radius: 4px;
}

.skeleton-tag {
  width: 70px;
  height: 28px;
  border-radius: 4px;
}

.skeleton-card {
  width: 100%;
  height: 80px;
  border-radius: 12px;
}
